@charset "UTF-8";

/* 回答はここに書いてね */
/* -------------------Q7-1 float------------------- */
.float{
  width: 225px;
  margin-left: 50px;
  font-size: 16px;
  float: left;
  box-sizing: border-box;
}
.float:first-child{
  margin-left: 0;
}
.float-wrapper:after{
  display: block;
  clear: both;
  content: "";
}

/* -------------------Q7-2 table------------------- */
.table-outer{
  display: table;
  border-collapse: separate;
}
.table-inner{
  width: 225px;
  padding-left: 50px;
  display: table-cell;
  margin-left: 50px 0;
}
.table-inner:first-child{
  padding-left: 0;
}

/* -------------------Q7-3 inlineblock------------------- */
.inlineblock-outer{
  font-size: 0;
}
.inlineblock-discription{
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 225px;
  margin-left: 50px;
}
.inlineblock-discription:first-child{
  margin-left: 0;
}

/* -------------------Q7-4 flex------------------- */
.flex-outer{
  display: flex;
  flex-flow: row;
  /* flex-direction: row-reverse; */
  justify-content: space-around;
  align-items: flex-end;
}
.flex-discription{
  flex: 0 0 225px;
  box-sizing: border-box;
}

/* -------------------Q7-4 inlinebox and margin------------------- */
.inlineAndMargin-outer{
  font-size: 0;
}
.inlineAndMargin-inner{
  font-size: 16px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  /* box-sizing: border-box; */
}
.inlineAndMargin-inner:last-child{
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
