@charset "UTF-8";

/* 回答はここに書いてね */
/* -----------------Q6-1----------------- */
.text-align-box{
  text-align: center;
}
.text-align{
  display: inline-block;
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
}

.margin{
  margin: 0 auto;
  text-align: center;
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
}

/* -----------------Q6-2----------------- */
.table-wrapper{
  display: table;
  text-align: center;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
}
.table-discription{
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.flex-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex{
  background-color: #fff;
  padding: 10px;
}

.fix-outer{
  position: relative;
}
.fix-discription{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.variable-outer{
  position: relative;
}
.variable-discription{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
